<app-header (toggleSidebar)="toggleSidebar()"></app-header>

<div class="dashboard-wrapper" [class.sidebar-hidden]="isSidebarHidden">
  <app-sidenav [isSidebarHidden]="isSidebarHidden"></app-sidenav>

  <main class="main-content p-3">
    <section class="table-wrapper">
      <h4 class="mb-3">📋 Job Pool Details # <strong>{{poolNumber}}</strong></h4>

      <!-- Global Actions + Timer -->
      <div class="d-flex align-items-center justify-content-between mb-3">
        <div class="d-flex flex-wrap gap-2">          

         <div class="d-flex flex-wrap gap-2">

            <button class="btn btn-play"
                    (click)="startAll()"
                    *ngIf="poolStatus === 'paused' || poolStatus === 'idle'">▶ Start</button>

            <button class="btn btn-stop"
                    (click)="completeAll()"
                    *ngIf="poolStatus === 'running' || poolStatus === 'paused'">⏹ Complete</button>

            <button class="btn btn-pause"
                    (click)="holdAll()"
                    *ngIf="poolStatus === 'running'">⏸ Hold</button>

            <button class="btn btn-scrap"
                    *ngIf="poolStatus === 'completed'"
                    (click)="scrapAll()">🗑 Scrap</button>

            <button class="btn btn-move"
                    *ngIf="poolStatus === 'completed'"
                    (click)="moveAll()">📦 Move</button>
          </div>

        </div>

        <div class="job-timer-card fw-bold fs-5">
          Timer: {{ globalTimer }}
        </div>
      </div>

      <!-- Job Pool Table -->
      <div class="card p-1 mt-3 shadow-sm">
        <div class="card-body p-1">
          <p-table [value]="jobs">
            <ng-template pTemplate="header">
              <tr>
                <th style="background-color: #ECC391; padding: 10px;">Action</th>
                <th style="background-color: #ECC391; padding: 10px;">Serial No</th>
                <th style="background-color: #ECC391; padding: 10px;">Job</th>
                <th style="background-color: #ECC391; padding: 10px;">Transaction</th>
                <th style="background-color: #ECC391; padding: 10px;">Operation</th>
                <th style="background-color: #ECC391; padding: 10px;">Employee</th>
                <th style="background-color: #ECC391; padding: 10px;">Work Center</th>
                <th style="background-color: #ECC391; padding: 10px;">Qty</th>
                <th style="background-color: #ECC391; padding: 10px;">Item</th>
                
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-job>
              <tr>
                <td>
                  <i class="pi pi-play action-circle play" 
                    title="Start" 
                    (click)="startJob(job)"></i>

                  <i class="pi pi-pause action-circle pause" 
                    title="Hold" 
                    (click)="holdJob(job)"></i>

                  <i class="pi pi-stop action-circle stop" 
                    title="Complete" 
                    (click)="completeJob(job)"></i>
                </td>


                <td>{{ job.serialNo }}</td>
                <td>{{ job.job }}</td>
                <td>{{ job.transactionNum }}</td>
                <td>{{ job.operation }}</td>
                <td>{{ job.employee }}</td>
                <td>{{ job.workCenter }}</td>
                <td>{{ job.qty }}</td>
                <td>{{ job.item }}</td>
                
              </tr>
            </ng-template>
          </p-table>

        </div>
      </div>
    </section>
  </main>
</div>
