<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>

    <!-- ASP.NET Core handler -->
    <handlers>
      <add name="aspNetCore"
           path="*"
           verb="*"
           modules="AspNetCoreModuleV2"
           resourceType="Unspecified" />
    </handlers>

    <!-- IMPORTANT: allow DELETE / PUT / PATCH -->
    <security>
      <requestFiltering>
        <verbs>
          <remove verb="DELETE" />
          <remove verb="PUT" />
          <remove verb="PATCH" />
        </verbs>
      </requestFiltering>
    </security>

    <aspNetCore processPath="dotnet"
                arguments="WommeAPI.dll"
                stdoutLogEnabled="false"
                hostingModel="inprocess" />

  </system.webServer>

</configuration>
