
<aside class="sidebar" [class.open]="!isSidebarHidden">

  <ng-container *ngFor="let section of groupedSidebarItems">
    <div class="sidebar-section-title">{{ section.title }}</div>

    <ul
      
      class="sidebar-list"
     
    >
      <li class="sidebar-item" *ngFor="let item of section.items" >
      <a
        class="sidebar-anchor d-flex align-items-center gap-2"
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        (click)="onItemClickAndNavigate(item)"
      >
        <fa-icon 
          [icon]="item.icon" 
          class="sidebar-icon" 
          [ngStyle]="{ color: item.color }">
        </fa-icon>
        <span>{{ item.label }}</span>
      </a>


      </li>
    </ul>
  </ng-container>
</aside>
