<app-header (toggleSidebar)="toggleSidebar()"></app-header>

<div class="dashboard-wrapper" [class.sidebar-hidden]="isSidebarHidden">
  <app-sidenav [isSidebarHidden]="isSidebarHidden"></app-sidenav>

  <main class="main-content">
    <section class="table-wrapper">

      <!-- Search -->
      <div class="dashboard-control-bar d-flex justify-content-between align-items-center mb-3"
           style="gap: 1rem; padding-top: 2em;">
        <div class="flex-grow-1 position-relative" style="min-width: 250px; max-width: 400px;">
          <input
            type="text"
            pInputText
            placeholder="Search Job / Serial No"
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchChange($event)"
            class="form-control ps-5 pe-5 rounded-pill shadow-sm"
            style="height: 45px;"
          />
        </div>
      </div>



      <!-- Table -->
      <div class="card p-1 mt-3 shadow-sm">
        <div class="card-body p-1">

          <p-tabView
            [(activeIndex)]="activeTabIndex"
            (onChange)="onTabChange($event)">

            <p-tabPanel header="New Job">

              <p-table
                [value]="newJobs"
                [paginator]="true"
                [rows]="50"
                [loading]="isLoading"
                [responsiveLayout]="'scroll'"
                scrollHeight="400px">

                <ng-template pTemplate="header">
                  <tr>
                    <th style="background-color: #ECC391; padding: 10px;">S.No</th>
                    <th style="background-color: #ECC391; padding: 10px;">Job</th>
                    <th style="background-color: #ECC391; padding: 10px;">Serial No</th>
                    <th style="background-color: #ECC391; padding: 10px;">Qty</th>
                    <th style="background-color: #ECC391; padding: 10px;">Opr No</th>
                    <th style="background-color: #ECC391; padding: 10px;">Item</th>
                    <th style="background-color:#ECC391;padding:10px;">Action</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-job let-i="rowIndex">
                  <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ job.job }}</td>
                    <td>{{ job.serialNo }}</td>
                    <td>{{ job.qtyReleased }}</td>
                    <td>{{ job.operNum }}</td>
                    <td>{{ job.item }}</td>
                    <td class="text-center">
                      <button
                        class="btn btn-success btn-sm rounded-pill px-3"
                        (click)="startApproval(job)">                        
                        Start Job
                      </button>
                    </td>
                  </tr>
                </ng-template>

              </p-table>

            </p-tabPanel>

            <p-tabPanel header="On Going Job">

              <p-table
                [value]="ongoingJobs"
                [paginator]="true"
                [rows]="50"
                [loading]="isLoading"
                scrollHeight="400px">

                <ng-template pTemplate="header">
                  <tr>
                    <th style="background-color: #ECC391; padding: 10px;">S.No</th>
                    <th style="background-color: #ECC391; padding: 10px;">Job</th>
                    <th style="background-color: #ECC391; padding: 10px;">Serial No</th>
                    <th style="background-color: #ECC391; padding: 10px;">Qty</th>
                    <th style="background-color: #ECC391; padding: 10px;">Opr No</th>
                    <th style="background-color: #ECC391; padding: 10px;">Item</th>
                    <th style="background-color: #ECC391; padding: 10px;">Remark</th>
                    <th style="background-color: #ECC391; padding: 10px;">Action</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-job let-i="rowIndex">
                  <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ job.job }}</td>
                    <td>{{ job.serialNo }}</td>
                    <td>{{ job.qtyReleased }}</td>
                    <td>{{ job.operNum }}</td>
                    <td>{{ job.item }}</td>

                    <td>
                      <input
                        type="text"
                        pInputText
                        [(ngModel)]="job.remark"
                        class="form-control form-control-sm"
                        [readonly]="job.isRemarkSaved"
                      />
                    </td>

                    <td class="d-flex gap-2">

                        <button
                          *ngIf="!job.isRemarkSaved"
                          class="btn btn-primary"
                          (click)="saveRemark(job)">
                          Save Remark
                        </button>

                        <button
                          *ngIf="job.isRemarkSaved"
                          class="btn btn-success"
                          (click)="verifyJob(job)">
                          Verify Job
                        </button>


                      </td>

                  </tr>
                </ng-template>

              </p-table>

            </p-tabPanel>

            <p-tabPanel header="Completed Job">
              <p-table
                [value]="completedJobs"
                [paginator]="true"
                [rows]="50"
                [loading]="isLoading"
                scrollHeight="400px">

                <ng-template pTemplate="header">
                  <tr>
                    <th style="background-color: #ECC391;">S.No</th>
                    <th style="background-color: #ECC391;">Job</th>
                    <th style="background-color: #ECC391;">Serial No</th>
                    <th style="background-color: #ECC391;">Opr No</th>
                    <th style="background-color: #ECC391;">WC</th>
                    <th style="background-color: #ECC391;">Completed Date</th>                    
                    <th style="background-color: #ECC391;">Employees / Remarks</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-job let-i="rowIndex">
                  <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ job.job }}</td>
                    <td>{{ job.serialNo }}</td>
                    <td>{{ job.operNum }}</td>
                    <td>{{ job.wcCode }}</td>
                    <td>{{ job.transDate | date:'dd-MM-yyyy HH:mm' }}</td>                    
                    <td>
                      <div *ngIf="job.employees?.length; else noRemark">
                        <div
                          *ngFor="let e of job.employees"
                          class="mb-1 p-1 border rounded">
                          
                          <strong>{{ e.empName }}</strong>
                          <div class="text-muted small">
                            {{ e.remark }}
                          </div>

                        </div>
                      </div>

                      <ng-template #noRemark>
                        <span class="text-muted">No remarks</span>
                      </ng-template>
                    </td>

                  </tr>
                </ng-template>

              </p-table>

            </p-tabPanel>


          </p-tabView>



        </div>
      </div>

    </section>
  </main>
</div>
